p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

body{
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar ul li{
    margin: 0 0.75rem 0 0.75rem;
}

.navbar a{
    color: white !important;
    font-size:x-large
}

section{
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.img-portada{
    width: auto;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.perfil{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.perfil>img{
    border-radius:150px;
    margin-top: 20%;
    padding: 0.25rem;
}

.perfil h1{
    font-size: 4rem;
    font-weight: bolder;
    color: orangered;
    padding: 0.25rem;
}

.perfil h2{
    font-weight: bold;
    color: white;
    padding: 0.25rem;
}

.content{
    width: 80%;
    display: flex;
    margin: 0 auto;
}

#presentacion{
    background-color: #1E2233 !important;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#servicios{
    background-color: #24273D !important;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.img-present{
    height: 25em !important;
    margin: 3em !important;
}

.titulo-seccion span{
    color: orangered;
    font-weight: bolder;
}

#texto_present, .dato>p{
    font-size: larger;
    text-align: justify;
}

#tarjeta_datos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3em;
}

#tarjeta_datos, .servicio , .carta_serv{
    border: solid 1px orangered;
    border-radius: 10px;
    margin: 1rem;
}

.dato{
    width: 50%;
}

.pregunta{
    font-weight: bold;
}

.tarjetas_servicios{
    display: flex;
    flex-wrap: wrap;
}

.servicio{
    padding: 1em;
    width: 30%;
}

.carta_serv{
    width: 100%;
    padding: 1em;
}

.servicio p, #desc_serv{
    margin-bottom: 0 !important;
}

.servicio i, .icono_serv{
    display: flex !important;
    justify-content: center;
    color: orangered;
    text-shadow: 1px 1px 1px #FD5C55;
    font-size: 4em;
}

@media only screen and (max-width: 1310px){
    .dato p{
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;
        margin-inline-start: 0 !important;
        margin-inline-end:  0  !important;
        margin-bottom: 0 !important;
        text-align: center;
    }

    #email, #idiomas{
        width: 100%;
    }
}

@media only screen and (max-width: 1020px){
    .img-present{
        display: none;
    }
}

@media only screen and (max-width: 900px){
    .servicio{
        padding: 0.5;
        width: 40%;
    }

    .servicio i{
        font-size: 2em;
    }
}

@media only screen and (max-width: 768px){
    #tarjeta_datos{
        padding: 0.5em;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media only screen and (max-width: 570px){
    .servicio h3{
        text-align: center;
    }

    .servicio p{
        display: none;
    }
}