@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --primary-color: #ff4500;
  --secondary-color: #1e2233 ;
  --tertiary-color: #24273d ;
  --text-color: white;
}

body{
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

section{
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  justify-content: center;
}

section:first-of-type{
  min-height: 100vh;
}

p{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.content{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.titulo-seccion span{
  color: var(--primary-color);
  font-weight: bolder;
}